@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mobile-bg-cover{
    width: 110%;
    background-size: cover;
    position: relative;
}

.card-back{
    position: absolute;
    left: 80px;
    top: 30px;
    z-index: 1;
    width: 80%;
}
.card-cvc{
    position: absolute;
    left: 350px;
    top: 110px;
    z-index: 2;
}
.card-front{
    position: absolute;
    width: 80%;
    left: 30px;
    top: 150px;
    z-index: 2;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 344px;
    height: 188px;
    position: absolute;
    left: 30px;
    top: 150px;
    z-index: 3;
    padding: 10px 20px;
    color: #fff; 
}
.card-info span{
    opacity: 0.8;
}
.card-logo{
    width: 60px;
}
.row{
    display: flex;
    justify-content: space-between;
}

.right{
    margin-top: 50px;
    padding: 20px 20px;
}
label{
    color:hsl(278, 68%, 11%);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Space Grotesk';
    letter-spacing: 2px;
}
input{
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Space Grotesk';
    border: 1px solid lightgray;
    border-radius: 5px;
}
.row-date{
    width: 50%;
}
.row-date input{
    width: 25%;
}
.row-cvc{
    width: 50%;
}

.nearby{
    display: flex;
}

button{
    width: 100%;
    padding: 20px 40px;
    background-color: hsl(278, 68%, 11%);
    color:hsl(270, 3%, 87%);
    border:none;
    border-radius: 10px;
    font-family: 'Space Grotesk';
    font-size: 1rem;
    margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
    .container{
        display: flex;
        flex-direction: row;
    }
    .left{
        width: 50%;
    }
    .right{
        width: 50%;
    }
    .mobile-bg-cover{
        content: url('images/bg-main-desktop.png');
        width: 60%;
    }
    .card-back, .card-front{
        width: 30%;
    }
    .card-front, .card-info{
        top: 150px;
        left: 120px;
    }
    .card-cvc{
        top:520px;
        left: 570px;

    }
    .card-back{
        top: 410px;
        left: 200px;
    }
    .right{
        width: 30%;
        margin-top: 200px;
        margin-left: 70px;
    }
    .card-info{
        width: 367px;
        height: 200px;
    }
}